  <div class="container-fluid" style="background-color:lavenderblush;">
    <form name="expensedetailForm" ng-show="showForm || expenseData.length == 0">
        <p>
        <label> Payer</label>
        <input type="text" name="payer" class="form-control" ng-model="expDetails.payer" placeholder="Enter Payer Name...!"  required/>
        <span class="error-color" ng-show="errors.requiredPayerName">Payer Name equired</span>
      </p>
         <p>
        <label> Payee</label>
        <input type="text" class="form-control" name="payee" ng-model="expDetails.payee" placeholder="Enter Payee  Name...!" required/>
          <span class="error-color" ng-show="errors.requiredPayeeName">Payee Name required</span>
      </p>
      <p>
      <label> Category</label>
       <select name="categorytype" class="form-control" ng-model="expDetails.categorytype" ng-options="c for c in categoryType" required>
        <option value="">-- Category Type --</option> </select>
           <span class="error-color" ng-show="errors.requiredCatName">Category required</span>
    </p>

    <p>
      <label> Amount</label>
        <input type="text" class="form-control" placeholder="Enter Numeric value" name="amount"
        ng-model="expDetails.amount" required ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
        <span class="error-color" ng-show="errors.requiredAmount">Positive Numbers only, please.</span>

    </p>
    <p>
      <label> Date</label>
        <input type="text" datepicker-directive="" datepicker-directive="" class="form-control" name="dates" ng-model="expDetails.date" dp-format="dd/mm/yyyy" required placeholder="select date" />
         <span class="error-color" ng-show="errors.requiredDate">Date required</span>
    </p>

    <p>
     <label> Mode of Payment</label>
       <select ng-model="expDetails.modeofpayment" class="form-control" ng-options="c for c in modeofPayment">
        <option value="">-- Payment Type --</option></select>
        <span class="error-color" ng-show="errors.modeofPayment">Mode Of Payment required</span>
    </p>

    <p>
      <label> Note</label><textarea type="text" class="form-control" name="note" ng-model="expDetails.note" required></textarea><span class="error-color" ng-show="errors.noteLength">Max Lenght 50 characters</span>
      <span class="error-color" ng-show="errors.note">Note required</span>
    </p>
    <p>
      <input type="submit" class="btn default" ng-click="addTransaction()" value="{{buttonValue}}" />
       <input type="button" class="btn cancel" ng-click="clearForm()" value="Clear" />
       <input type="button" class="btn cancel" ng-click="hideTransactionForm()" value="Cancel" />
    </p>
  </form>
  <div ng-show="expenseData.length != 0" align="center">
      <label>Search: <input ng-model="search.$" id="searchBox"></label>&nbsp;&nbsp;<label>Current Balance :  {{ expneseServiceData.currentBalance}}</label>
      &nbsp;&nbsp;&nbsp; <label ng-show="type == 'Income'"> Total Income :   {{expenseData.expenseObject.income}} </label>
      <label ng-show="type == 'Expense'"> Total Expense :   {{expenseData.expenseObject.expense}}</label>
      &nbsp;&nbsp;&nbsp;<label ng-show="!showForm"><button ng-click="showTransactionForm()">Add {{currentPage}}</button></label>
     <table class="table" style="width:105px;" >
         <tr>
            <th class="table-head">.</th>
            <th  class="table-head">Type</th>
            <th  class="table-head">Payer</th>
            <th  class="table-head">Payee</th>
            <th  class="table-head">Category</th>
            <th  class="table-head">Amount</th>
            <th  class="table-head">Date</th>
            <th  class="table-head">Mode Of Payment</th>
            <th  class="table-head">Note</th>
            <th  class="table-head">Edit</th>
            <th  class="table-head">Delete</th>
          </tr>
          <tr ng-repeat="exp in expenseData | filter:search:strict">
            <td>{{$index + 1}}</td>
            <td >{{exp.type}}</td>
            <td >{{exp.payer}}</td>
            <td >{{exp.payee}}</td>
            <td >{{exp.categorytype}}</td>
            <td >{{exp.amount}}</td>
            <td >{{exp.date}}</td>
            <td >{{exp.modeofpayment}}</td>
            <td >{{exp.note}}</td>
            <td><button ng-click="updateTransaction(exp)">Edit</button></td>
            <td><button ng-click="deleteTransaction(exp.transactionId)">Delete</button></td>
          </tr>
      </table>
    </div>
  </div>