<div class="upcoming-transaction" ng-repeat="upcomingdata in data ">
             <div>{{$index + 1}} : {{upcomingdata.payer}}</div>
              <div class="upcoming-transaction-data">
                <div>{{upcomingdata.type}}</div>
                <div >{{upcomingdata.categorytype}}</div>
                <div >{{upcomingdata.amount}} Rs.</div>
                <div >{{upcomingdata.date}}</div>
                <div ><button class="upcoming-transaction-addbtn" ng-click="addUpcomingData(upcomingdata.type,upcomingdata.upcomingtransactionId)">Add</button>
                 <button  ng-click="deleteUpcomingData(upcomingdata)">Delete</button>
                </div>
            </div>
    </div>